// #gridcomp{
//     padding: 3rem 10rem 10rem 10rem;
// }
.grid__wrapper {
  margin: 10px;
}

e-columns:nth-child(even) {
  background-color: aliceblue;
}

.e-gridlist .e-tbar-btn.e-btn,
.e-gridlist .e-btn {
box-shadow: none;
text-transform: none;
}

.e-ghidden {
opacity: 0.35;
}

.e-mastertext {
font-size: 15px;
font-family: Roboto;
opacity: 0.87;
padding: 1em;
}
#dialog-container {
display: block;
height: 100%;
overflow: hidden;
width: 100%;
}

#container {
visibility: hidden;
}


.e-treegrid .e-headercell.customcssa {
background-color: blue;
color: yellow;
font-size: "20px";
}
.e-treegrid .e-headercell.customcssb {
background-color: blue;
color: white;
font-size: "20px";
}
.e-treegrid .e-headercell.customcssc {
background-color: green;
color: white;
font-size: "15px";
}

.e-treegrid .e-headercell.customcssd {
background-color: green !important;
color: yellow !important;
font-size: "15px" !important;
}
div#_gridcontrol_dialogEdit_wrapper_dialog-content {
  margin: 0!important;
  height: 100%!important;
  overflow: hidden!important;
}
.e-treegrid {
  margin: 0!important;
  height: 100%!important;
  overflow: hidden!important;
}

.e-treegrid .e-altrow {
  background-color: #fafafae5;
}
.e-treegrid::-webkit-scrollbar{
overflow: hidden!important;
}

//drag
.e-dragclonerow {
font-family: fantasy;
}
//////////////////license
div#js-licensing {
display: none !important;
}

input.e-checkbox {
display: none;
}
////////

.e-confirm-dialog.e-control.e-dialog.e-lib.e-dlg-modal.e-popup.e-popup-open {
width: 300px;
height: 415px;
}
/////row selected color
// .e-grid td.e-active {
//   background: rgb(239, 170, 253);
//   color: #000;
// }

///////////////////////////extra added

.e-gridlist .e-tbar-btn.e-btn,
.e-gridlist .e-btn {
box-shadow: none;
text-transform: none;
}

.e-ghidden {
opacity: 0.35;
}

.e-mastertext {
font-size: 15px;
font-family: Roboto;
opacity: 0.87;
padding: 1em;
}
#dialog-container {
display: block;
height: 100%;
overflow: hidden;
width: 100%;
}

#container {
visibility: hidden;
}

.e-treegrid .e-headercell.customcssa {
background-color: blue;
color: yellow;
font-size: "20px";
}
.e-treegrid .e-headercell.customcssb {
background-color: blue;
color: white;
font-size: "20px";
}
.e-treegrid .e-headercell.customcssc {
background-color: green;
color: white;
font-size: "15px";
}

.e-treegrid .e-headercell.customcssd {
background-color: green !important;
color: yellow !important;
font-size: "15px" !important;
}
////////////////////////////////////////

.e-menu-item {
background-color: red;
}
// li#customCopy\ dim\ light {
//   background-color: #18bc9c !important;

// }
// .e-menu-item[role='menuitem'] {
//   background-color: yellow;
// }


.e-contextmenu-wrapper ul, .e-contextmenu-container ul {
background-color: black;
color: #fff;
}

.e-menu-item:hover{
background-color: black;
}

.e-contextmenu-wrapper ul .e-menu-item.e-focused, .e-contextmenu-container ul .e-menu-item.e-focused {
background-color: black;
color: #fff;
outline: 0 solid rgba(0, 0, 0, 0.12);
outline-offset: 0;
}
.e-menu-item #chooseCol #freezeCol #filterCol #msortCol{
background-color: rgb(51, 136, 12);
}
.e-menu-item .e-flat{
background-color: olive;
}
////////////////
li#freezeCol {
background-color: forestgreen !important;
}
li#filterCol {
background-color: forestgreen !important;
}
li#chooseCol {
background-color: forestgreen !important;
}
li#msortCol {
background-color: forestgreen !important;
}
li#freezeCol:hover {
background-color: black !important;
}
li#filterCol:hover {
background-color: black !important;
}
li#chooseCol:hover {
background-color: black !important;
}
li#msortCol:hover {
background-color: black !important;
}

.e-headercelldiv.e-headerchkcelldiv {
width: 50px;
}
/////////////////select row
td.e-rowcell.e-gridchkbox.e-detailrowvisible.rowCheck {
width: 140px;
}

th.e-headercell.check {
width: 140px;
}



// .e-grid:not(.e-row-responsive) .e-gridcontent tr.e-row:first-child .e-rowcell {
//   display: none;
// }
.ejs-treegrid .customcss {
background-color: #ecedeeb0;
}

.e-content {
overflow-y: hidden;
}
// .e-treegrid .e-content {
// -webkit-overflow-scrolling: touch;
// overflow-x: auto;
// overflow-y: hidden !important;
// position: relative;
// }

html {
-webkit-overflow-scrolling: touch;
overflow-x: auto;
overflow-y: hidden !important;
position: relative;
}
//////////
.e-gridheader.e-lib.e-draggable.e-droppable {
padding-right: 0px !important;
}
//////////
.required:after {
content:" *";
color: #ff0000;
}

.label{
color:#65ca2a5e;
}

//////////
div#treegridcomp_gridcontrol_ccdlg {
margin-top: -1803px !important;
}

///////////
.e-grid .customcss {
background-color: #f1f5f5;
}
//////////dim
li#customCopy\ dim, li#pastenextrow\ dim, li#pastechildrow\ dim, li#deleterow\ dim {
background-color: lightcoral;
}
  ul#treegridcomp_gridcontrol_cmenu:hover{
    background-color: black;
  }
// li#customCopy\ dim{
//   background-color: coral;
// }

//////////////hide spinner
svg#MpQ1i {
display: none;
}
///////////selected row color
// .e-grid td.e-active {
//   background: #5bd0ee !important;
//   color: #000;
// }
.red-input {
border: 1px solid red;
}
.template_driven.fv-plugins-bootstrap .has-danger .fv-plugins-icon {
color: red;
}
.template_driven.fv-plugins-bootstrap .has-success .fv-plugins-icon {
color: #18bc9c;
}
.e-grid .customss {
background-color: #ecedee96;
}
////validation
input.ng-invalid {
background-color:rgb(241, 229, 231);
}
input.ng-valid {
background-color:lightgreen;
}
.e-float-line{
border-color: royalblue;
}
/////////////////////////////////////////////////////////////////////////////////////=============
.material .disableRow .e-rowcell{
color: rgba(0, 0, 0, .38) !important;
}
/* custom code start*/
.material-dark .disableRow .e-rowcell, .fabric-dark .disableRow .e-rowcell,
.bootstrap-dark .disableRow .e-rowcell, .bootstrap5-dark .disableRow .highcontrast .disableRow .e-rowcell, 
.tailwind .disableRow .e-rowcell, .tailwind-dark .disableRow .e-rowcell {
color: #757575 !important;
}
.fabric .disableRow .e-rowcell {
color: #c8c8c8 !important;
}
.bootstrap .disableRow .e-rowcell, .bootstrap4 .disableRow .e-rowcell, 
.bootstrap5 .disableRow .e-rowcell {
color: rgba(0, 0, 0, .35) !important;
}
/* custom code end*/

tr.e-row.disableRow.e-altrow[aria-selected="true"]{
background-color: coral;
}
/////////////////////////////////////////////
.bgcolor td{

background-color: #f382c4 !important;

color: white !important;

}
.bgcolorback td{
  background-color: lightgrey !important;

  color: black !important;  
}
.e-treegrid .e-row {
height: 2em;
}

#loader-container{
  width:100%;
  height:100%;
}
//spinner
#container {
  visibility: hidden;
}
.e-spin-material{
  height: 280px;
  width: 280px;
}
#loader {
  color: #008cff;
  height: 70px;
  width: 40%;
  position: absolute;
  left: 45%;
}

#wrapper {
  margin: 0 auto;
  padding-top: 0px;
}

.custom-rolling{
  width: 50px;
  height: 50px;
}

.e-treegrid .e-headercell.cssClassaa{ 
  background-color: var(ColBColor); 
          color: var(ColFColor);
}
.e-headercell.cssClassaa{
  background-color: var(ColBColor);
  color: var(ColFColor);
}

th.e-headercell.e-leftalign.e-mousepointer{
  background-color: var(value);
}
.e-treegrid .e-headercell.cssClassaa {
  background-color: var(value)!important;
  color: var(value)!important;
}
th.e-headercell.cssClassaa.e-mousepointer {
  background-color: var(value)!important;
  color: var(value)!important;
}
