// #gridcomp{
//     padding: 3rem 10rem 10rem 10rem;
// }
.grid__wrapper {
    margin: 10px;
}

e-columns:nth-child(even) {
    background-color: aliceblue;
}

.e-gridlist .e-tbar-btn.e-btn,
.e-gridlist .e-btn {
  box-shadow: none;
  text-transform: none;
}

.e-ghidden {
  opacity: 0.35;
}

.e-mastertext {
  font-size: 15px;
  font-family: Roboto;
  opacity: 0.87;
  padding: 1em;
}
#dialog-container {
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#container {
  visibility: hidden;
}


.e-treegrid .e-headercell.customcssa {
  background-color: blue;
  color: yellow;
  font-size: "20px";
}
.e-treegrid .e-headercell.customcssb {
  background-color: blue;
  color: white;
  font-size: "20px";
}
.e-treegrid .e-headercell.customcssc {
  background-color: green;
  color: white;
  font-size: "15px";
}

.e-treegrid .e-headercell.customcssd {
  background-color: green !important;
  color: yellow !important;
  font-size: "15px" !important;
}
div#_gridcontrol_dialogEdit_wrapper_dialog-content {
    margin: 0!important;
    height: 100%!important;
    overflow: hidden!important;
}
.e-treegrid {
    margin: 0!important;
    height: 100%!important;
    overflow: hidden!important;
}

.e-treegrid .e-altrow {
    background-color: #fafafae5;
}
.e-treegrid::-webkit-scrollbar{
  overflow: hidden!important;
}

//drag
.e-dragclonerow {
  font-family: fantasy;
}
//////////////////license
div#js-licensing {
  display: none !important;
}

input.e-checkbox {
  display: none;
}
////////

.e-confirm-dialog.e-control.e-dialog.e-lib.e-dlg-modal.e-popup.e-popup-open {
  width: 300px;
  height: 415px;
}
/////row selected color
// .e-grid td.e-active {
//   background: rgb(239, 170, 253);
//   color: #000;
// }

///////////////////////////extra added

.e-gridlist .e-tbar-btn.e-btn,
.e-gridlist .e-btn {
  box-shadow: none;
  text-transform: none;
}

.e-ghidden {
  opacity: 0.35;
}

.e-mastertext {
  font-size: 15px;
  font-family: Roboto;
  opacity: 0.87;
  padding: 1em;
}
#dialog-container {
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#container {
  visibility: hidden;
}

.e-treegrid .e-headercell.customcssa {
  background-color: blue;
  color: yellow;
  font-size: "20px";
}
.e-treegrid .e-headercell.customcssb {
  background-color: blue;
  color: white;
  font-size: "20px";
}
.e-treegrid .e-headercell.customcssc {
  background-color: green;
  color: white;
  font-size: "15px";
}

.e-treegrid .e-headercell.customcssd {
  background-color: green !important;
  color: yellow !important;
  font-size: "15px" !important;
}
////////////////////////////////////////

.e-menu-item {
background-color: red;
}

.e-contextmenu-wrapper ul, .e-contextmenu-container ul {
  background-color: black;
  color: #fff;
}

.e-menu-item:hover{
  background-color: black;
}

.e-contextmenu-wrapper ul .e-menu-item.e-focused, .e-contextmenu-container ul .e-menu-item.e-focused {
  background-color: black;
  color: #fff;
  outline: 0 solid rgba(0, 0, 0, 0.12);
  outline-offset: 0;
}
.e-menu-item #chooseCol #freezeCol #filterCol #msortCol{
  background-color: rgb(51, 136, 12);
}
.e-menu-item .e-flat{
  background-color: olive;
}
////////////////
li#freezeCol {
  background-color: forestgreen !important;
}
li#filterCol {
  background-color: forestgreen !important;
}
li#chooseCol {
  background-color: forestgreen !important;
}
li#msortCol {
  background-color: forestgreen !important;
}
li#freezeCol:hover {
  background-color: black !important;
}
li#filterCol:hover {
  background-color: black !important;
}
li#chooseCol:hover {
  background-color: black !important;
}
li#msortCol:hover {
  background-color: black !important;
}

.e-headercelldiv.e-headerchkcelldiv {
  width: 50px;
}
/////////////////select row
td.e-rowcell.e-gridchkbox.e-detailrowvisible.rowCheck {
  width: 140px;
}

th.e-headercell.check {
  width: 140px;
}



// .e-grid:not(.e-row-responsive) .e-gridcontent tr.e-row:first-child .e-rowcell {
//   display: none;
// }
.ejs-treegrid .customcss {
  background-color: #ecedeeb0;
}

.e-content {
  overflow-y: hidden;
}
.e-treegrid .e-content {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden !important;
  position: relative;
}
//////////
.e-gridheader.e-lib.e-draggable.e-droppable {
  padding-right: 0px !important;
}
//////////
.required:after {
  content:" *";
  color: #ff0000;
}

.label{
  color:#65ca2a5e;
}

//////////
div#treegridcomp_gridcontrol_ccdlg {
  margin-top: -1803px !important;
}

///////////
.e-grid .customcss {
  background-color: #f1f5f5;
}
//////////dim
li#customCopy\ dim, li#pastenextrow\ dim, li#pastechildrow\ dim, li#deleterow\ dim {
  background-color: lightcoral;
}


// div#treegridcomp_gridcontrol_ccdlg_dialog-content {
//   overflow-y: hidden!important;
// }
// .e-main-div .e-cc{
//   overflow-y: hidden;
// }
//////////////hide spinner
svg#MpQ1i {
  display: none;
}
///////////selected row color
// .e-grid td.e-active {
//   background: #aa2525 !important;
//   color: #000;
// }
.e-grid td.e-active tr[aria-selected="true"]{
  background-color: #42DCA3 !important;
  font-size: 40px !important;
}