<ejs-treegrid [dataSource]='data' [treeColumnIndex]='1' [allowFiltering]="true" [sortSettings]="sortSettings"
[allowSorting]="true" [pageSettings]='pageSettings' [treeColumnIndex]='1' Save="getVal($event)"  idMapping='id' 
parentIdMapping='parentID' [height]='check' [editSettings]='editSettings' [toolbar]='toolbar' 
(actionComplete)="dataSourceChanged($event)" [contextMenuItems]='contextMenuItems'
 [selectionSettings]='selectionSettings' allowSelection='true'
(dataSourceChanged)="dataSourceChanged($event)"
(beforeOpen)='beforeOpen($event)'
itemBeforeEvent={this.itemBeforeEvent.bind(this)}
(select)="onSelect($event)" 
[allowFiltering]='true' [filterSettings]="filterSettings"
[contextMenuItems]="contextMenuItems"
    (contextMenuOpen)="contextMenuOpen($event)"
    (contextMenuClick)="contextMenuClick($event)"
    [columns]="treeColumns"
    [allowReordering]='true' [allowSelection]='false'
    [allowResizing]='true' 
    (actionComplete)='actionComplete($event)'
    [allowRowDragAndDrop]='true'
    (rowDataBound)='rowDataBound($event)' (rowDragStartHelper)='rowDragStartHelper($event)' (rowDrop)='rowDrop($event)' (rowDragStart)='rowDragStart($event)' (rowDrag)='rowDrag($event)' 
    childMapping='Crew'
    [selectionSettings]="this.selectionOptions"
>
  <e-columns>
    <e-column field='id' headerText='Student ID' textAlign='Centre' width=70 [isPrimaryKey]="true" type="number"
    [lockColumn]= 'true' [customAttributes]='customAttributes'></e-column>
    <e-column field='name' headerText='Student Name' textAlign='Left' width=200 [validationRules]='studentnamerules'></e-column>
    <e-column field='roll_no' headerText='Roll Number' textAlign='Left' [isPrimaryKey]="true" type="number" width=90 [validationRules]='studentidrules'></e-column>
    <e-column field='class' headerText='Class' textAlign='Left' width=80 [filterBarTemplate]="filterBarTemplate" [validationRules]='studentidrules'></e-column>
    
</e-columns>
</ejs-treegrid>
<ejs-contextmenu
    id="contextmenu"
    #contextmenu
    target=".e-content"
    [items]="menuItems"
    (select)="onSelect($event)"
    (beforeItemRender)="itemBeforeEvent($event)"
  ></ejs-contextmenu
  >
  <div>
  <ejs-contextmenu #headercontextmenu target='.e-gridheader'
  [items]='headermenuItems' 
  (beforeItemRender)="itemBeforeEvent($event)"
   (select)='select($event)'></ejs-contextmenu>
  </div>
