<ejs-treegrid [dataSource]='data' [treeColumnIndex]='1' [allowFiltering]="true" [sortSettings]="sortSettings"
[allowSorting]="true" [pageSettings]='pageSettings' [treeColumnIndex]='1'  idMapping='id' 
parentIdMapping='parentID' [height]='check' [editSettings]='editSettings' [toolbar]='toolbar' 
(actionComplete)="dataSourceChanged($event)" [contextMenuItems]='contextMenuItems'
 [selectionSettings]='selectionSettings' [allowSelection]='true'
(dataSourceChanged)="dataSourceChanged($event)"
(beforeOpen)='beforeOpen($event)'
itemBeforeEvent={this.itemBeforeEvent.bind(this)}
(select)="onSelect($event)" 
[allowFiltering]='true' [filterSettings]="filterSettings"
[contextMenuItems]="contextMenuItems"
    (contextMenuOpen)="contextMenuOpen($event)"
    (contextMenuClick)="contextMenuClick($event)"
    [columns]="treeColumns"
    [allowReordering]='true'
    [allowResizing]='true' 
    (actionComplete)='actionComplete($event)'
    [allowRowDragAndDrop]='true'
    (rowDataBound)='rowDataBound($event)' (rowDragStartHelper)='rowDragStartHelper($event)' (rowDrop)='rowDrop($event)' (rowDragStart)='rowDragStart($event)' (rowDrag)='rowDrag($event)' 
    childMapping='Crew'
    (rowClicked)='onRowClicked($event)'
    (actionComplete)="dataStateChange($event)"
>
  <e-columns>
    <e-column field='id' *ngIf="isShown" headerText='Student ID' textAlign='Centre' [isPrimaryKey]="true" width=70 type="number"
    [lockColumn]= 'true' [customAttributes]='customAttributes'></e-column>
    <e-column field='name' id="name" *ngIf="isShown" headerText='Student Name' textAlign='Left' width=200 [validationRules]='studentnamerules'></e-column>
    <e-column field='roll_no' *ngIf="isShown" headerText='Roll Number' textAlign='Left' type="number" width=90 [validationRules]='studentidrules'></e-column>
    <e-column field='class' *ngIf="isShown" headerText='Class' textAlign='Left' width=80 [filterBarTemplate]="filterBarTemplate" [validationRules]='studentidrules'></e-column>
    
      <!-- <e-column field='number' headerText='Action' width=70>
        <div class="form-group col-md-6">
        <ng-template #template let-details>
          <button  (click)='rowSelected($event)' class="btn btn-success btn-xs">Select</button>
        </ng-template></div>
      </e-column> -->
</e-columns>
</ejs-treegrid>
<ejs-contextmenu
    id="contextmenu"
    #contextmenu
    target=".e-content"
    [items]="menuItems"
    (select)="onSelect($event)"
    (beforeItemRender)="itemBeforeEvent($event)"
    
  ></ejs-contextmenu
  >
  <div>
  <ejs-contextmenu #headercontextmenu target='.e-gridheader'
  [items]='headermenuItems' 
  (beforeItemRender)="itemBeforeEvent($event)"
   (select)='select($event)'></ejs-contextmenu>
  </div>

  <igx-dialog #dialogAdd title="New Employee" [rightButtonLabel]="'Add'" [leftButtonLabel]="'Cancel'"
        (leftButtonSelect)="cancel()" (rightButtonSelect)="addRow()">
        <div class="dialogNewRecord">
          <igx-input-group>
            <label igxLabel for="employeeAge">Student ID</label>
            <input igxInput id="employeeAge" type="number" [(ngModel)]="student.ID" />
        </igx-input-group>
            <igx-input-group>
                <label igxLabel for="employeeName">Student Name</label>
                <input igxInput id="employeeName" type="text" [(ngModel)]="student.StudentName" />
            </igx-input-group>
            <igx-input-group>
                <label igxLabel for="employeeTitle">Roll Number</label>
                <input igxInput id="employeeTitle" type="number" [(ngModel)]="student.RollNumber" />
            </igx-input-group>
            <igx-input-group>
                <label igxLabel for="employeeAge">Class</label>
                <input igxInput id="employeeAge" type="number" [(ngModel)]="student.Class" />
            </igx-input-group>
        </div>
    </igx-dialog>


<!-- add col -->
<ejs-dialog id='dialog' #ejDialog allowDragging='true' header='Add Column' content='This is a Dialog with drag enabled'
[target]='targetElement3' width='300px' [height]="400" *ngIf="showAddColumn" [position]="pos" showCloseIcon="true"> 

<ng-template #content>
  <form id="template_driven" #userForm="ngForm" novalidate>
    <div class="form-group" style="padding-top: 11px;">
      <div class="e-float-input">
        <input
          type="text"
          name="ColName"
          [(ngModel)]="ColName"
          #ColumnName="ngModel"
          [value]=""
        />
        <span class="e-float-line"></span>
        <label class="e-float-text e-label-top" for="name">Column Name</label>
      </div>
    </div>

    <div class="form-group" style="padding-top: 11px;">
      <div class="e-float-input">
        <ejs-dropdownlist
          #dropdown2
          id="element"
          [dataSource]="d2data"
          [fields]="fields"
          name="ColAlign"
          [(ngModel)]="ColAlign"
          placeholder="Alignment"
        ></ejs-dropdownlist>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #footerTemplate>
  <div>
    <button
      id="Button1"
      class="e-control e-btn e-primary e-flat"
      (click)="addColumn($event)"
      data-ripple="true"
    >
      <span class="e-btn-icon e-icons e-ok-icon e-icon-left"></span>Add
    </button>
    <button
      id="Button2"
      class="e-control e-btn e-flat"
      (click)="btnclick3($event)"
      data-ripple="true"
    >
      <span class="e-btn-icon e-icons e-close-icon e-icon-left"></span
      >Cancel
    </button>
  </div>
</ng-template>
</ejs-dialog>

<!--edit dialog -->
<ejs-dialog id='dialog' #ejDialog allowDragging='true' header='Edit Column' content='This is a Dialog with drag enabled'
[target]='targetElement' width='300px' [height]="450" *ngIf="showEditColumn"  [position]="pos" showCloseIcon="true"> 

<ng-template #content>
  <form id="template_driven" #userForm="ngForm" novalidate>
    <div class="form-group" style="padding-top: 11px;">
      <div class="e-float-input">
        <input
          type="text"
          name="ColName"
          required
          [(ngModel)]="ColName"
          #ColumnName="ngModel"
        />
        <span class="e-float-line"></span>
        <label class="e-float-text e-label-top" for="name">Name</label>
        <div
          *ngIf="ColumnName.invalid && (ColumnName.dirty || ColumnName.touched)"
        >
          <!-- <div class="e-error" *ngIf="ColumnName.errors?.required">
            * Enter Column name
          </div> -->
        </div>
      </div>
    </div>

    <div class="form-group" style="padding-top: 11px;">
      <div class="e-float-input">
        <ejs-dropdownlist
          
          id="coltypeid"
          [dataSource]="d2data"
          [fields]="fields"
          placeholder="Type"
          name="ColType"
          [(ngModel)]="ColType"
        ></ejs-dropdownlist>
        </div>
    </div>



    <div class="form-group" style="padding-top: 11px;">
      <div style="display: flex; justify-content: space-between;">
        <span class="e-float-text e-label-top"
          >Choose new Font-color</span
        >

        <input
          ejs-colorpicker
          type="color"
          id="element"
          value="#FFFFFF"
          (change)="changeFontColor($event)"
          id="colorpicker"
        />
      </div>
    </div>
    <div class="form-group" style="padding-top: 11px;">
      <div style="display: flex; justify-content: space-between;">
        <span class="e-float-text e-label-top"
          >Choose new Background-color</span
        >

        <input
          ejs-colorpicker
          type="color"
          id="element"
          value="#FFFFFF"
          (change)="changeBackground($event)"
          id="colorpicker"
        />
      </div>
    </div>
    <div class="form-group" style="padding-top: 11px;">
      <div class="e-float-input">
        <ejs-dropdownlist
          #dropdown2
          id="element"
          [dataSource]="d3data"
          [fields]="fields"
          name="ColAlign"
          [(ngModel)]="ColAlign"
          placeholder="Alignment"
        ></ejs-dropdownlist>
      </div>
    </div>
    <div class="form-group" style="padding-top: 11px;">
      <div style="display: flex; justify-content: space-between;">
        <span class="e-float-text e-label-top" for="email"
          >Text-wrap</span
        >

        <ejs-checkbox
          labelPosition="Before"
          [checked]="false"
          name="ColChecked"
          [(ngModel)]="ColChecked"
        ></ejs-checkbox>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #footerTemplate>
  <div>
    <button
      id="Button1"
      class="e-control e-btn e-primary e-flat"
      (click)="saveColumn($event)"
      data-ripple="true"
    >
      <span class="e-btn-icon e-icons e-ok-icon e-icon-left"></span>Save
    </button>
    <button
      id="Button2"
      class="e-control e-btn e-flat"
      (click)="btnclick($event)"
      data-ripple="true"
    >
      <span class="e-btn-icon e-icons e-close-icon e-icon-left"></span
      >Cancel
    </button>
  </div>
</ng-template>

</ejs-dialog>
<!--view dialog -->
<ejs-dialog id='dialog' #ejDialog allowDragging='true' header='View Column' content='This is a Dialog with drag enabled'
[target]='targetElement' width='300px' [height]="450" *ngIf="showViewColumn"  [position]="pos" showCloseIcon="true"> 

<ng-template #content>
  <form id="template_driven" #userForm="ngForm" novalidate>
    <div class="form-group" style="padding-top: 11px;">
      <div class="e-float-input">
        <input
          type="text"
          name="ColName"
          required
          [(ngModel)]="ColName"
          #ColumnName="ngModel"
          readonly
        />
        <span class="e-float-line"></span>
        <label class="e-float-text e-label-top" for="name">Name</label>
        <div
          *ngIf="ColumnName.invalid && (ColumnName.dirty || ColumnName.touched)"
        >
          <!-- <div class="e-error" *ngIf="ColumnName.errors?.required">
            * Enter Column name
          </div> -->
        </div>
      </div>
    </div>

    <div class="form-group" style="padding-top: 11px;">
      <div class="e-float-input">
        <ejs-dropdownlist
          
          id="coltypeid"
          [dataSource]="d2data"
          [fields]="fields"
          placeholder="Type"
          name="ColType"
          [(ngModel)]="ColType"
          readonly
        ></ejs-dropdownlist>
        </div>
    </div>



    <div class="form-group" style="padding-top: 11px;">
      <div style="display: flex; justify-content: space-between;">
        <span class="e-float-text e-label-top"
          >Choose new Font-color</span
        >

        <input
          ejs-colorpicker
          type="color"
          id="element"
          value="#FFFFFF"
          (change)="changeFontColor($event)"
          id="colorpicker"
          readonly
        />
      </div>
    </div>
    <div class="form-group" style="padding-top: 11px;">
      <div style="display: flex; justify-content: space-between;">
        <span class="e-float-text e-label-top"
          >Choose new Background-color</span
        >

        <input
          ejs-colorpicker
          type="color"
          id="element"
          value="#FFFFFF"
          (change)="changeBackground($event)"
          id="colorpicker"
          readonly
        />
      </div>
    </div>
    <div class="form-group" style="padding-top: 11px;">
      <div class="e-float-input">
        <ejs-dropdownlist
          #dropdown2
          id="element"
          [dataSource]="d3data"
          [fields]="fields"
          name="ColAlign"
          [(ngModel)]="ColAlign"
          placeholder="Alignment"
          readonly
        ></ejs-dropdownlist>
      </div>
    </div>
    <div class="form-group" style="padding-top: 11px;">
      <div style="display: flex; justify-content: space-between;">
        <span class="e-float-text e-label-top" for="email"
          >Text-wrap</span
        >

        <ejs-checkbox
          labelPosition="Before"
          [checked]="false"
          name="ColChecked"
          [(ngModel)]="ColChecked"
          aria-readonly="true"
        ></ejs-checkbox>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #footerTemplate>
  <div>
    
    <button
      id="Button2"
      class="e-control e-btn e-flat"
      (click)="btnclick($event)"
      data-ripple="true"
    >
      <span class="e-btn-icon e-icons e-close-icon e-icon-left"></span
      >OK
    </button>
  </div>
</ng-template>

</ejs-dialog>

<!-- delete col -->
<ejs-dialog id='dialog' #ejDialog allowDragging='true' header='Delete Column' content='This is a Dialog with drag enabled'
[target]='targetElement' width='300px' [height]="400" *ngIf="showDelColumn" [position]="pos" showCloseIcon="true"> 

<ng-template #content>
  <form id="template_driven" #userForm="ngForm" novalidate>
    <div class="form-group" style="padding-top: 11px;">
      <div class="e-float-input">
        <input
          type="text"
          name="ColName"
          required
          [(ngModel)]="ColName"
          #ColumnName="ngModel"
        />
        <span class="e-float-line"></span>
        <label class="e-float-text e-label-top" for="name">Name</label>
        <div
          *ngIf="ColumnName.invalid && (ColumnName.dirty || ColumnName.touched)"
        >
          <!-- <div class="e-error" *ngIf="ColumnName.errors?.required">
            * Enter Column name
          </div> -->
        </div>
      </div>
    </div>

    <div class="form-group" style="padding-top: 11px;">
      <div class="e-float-input">
        <ejs-dropdownlist
          #dropdown2
          id="element"
          [dataSource]="d2data"
          [fields]="fields"
          name="ColAlign"
          [(ngModel)]="ColAlign"
          placeholder="Alignment"
        ></ejs-dropdownlist>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #footerTemplate>
  <div>
    <button
      id="Button1"
      class="e-control e-btn e-primary e-flat"
      (click)="addColumn($event)"
      data-ripple="true"
    >
      <span class="e-btn-icon e-icons e-ok-icon e-icon-left"></span>Add
    </button>
    <button
      id="Button2"
      class="e-control e-btn e-flat"
      (click)="btnclick($event)"
      data-ripple="true"
    >
      <span class="e-btn-icon e-icons e-close-icon e-icon-left"></span
      >Cancel
    </button>
  </div>
</ng-template>
  </ejs-dialog>
