
<ejs-treegrid [dataSource]='data' [treeColumnIndex]='1' [allowFiltering]="true" [sortSettings]="sortSettings"
[allowSorting]="true" [pageSettings]='pageSettings' [treeColumnIndex]='1' Save="getVal($event)"  idMapping='id' 
parentIdMapping='parentID' [height]='265' [editSettings]='editSettings' [toolbar]='toolbar' 
(actionComplete)="dataSourceChanged($event)" [contextMenuItems]='contextMenuItems'
 [selectionSettings]='selectionSettings' allowSelection='true'
(dataSourceChanged)="dataSourceChanged($event)"
>
  <e-columns>
    <e-column field='id' headerText='Student ID' textAlign='Right' width=70 [showColumnMenu]="true" isPrimaryKey="true" type="number"></e-column>
    <e-column field='name' headerText='Student Name' textAlign='Left' width=200></e-column>
    <e-column field='roll_no' headerText='Roll Number' textAlign='Left' width=90></e-column>
    <e-column field='class' headerText='Class' textAlign='Left' width=80></e-column>
    
</e-columns>
</ejs-treegrid>


<!-- frozen code
 [frozenColumns]='1' [frozenRows]='3' [allowSelection]='false' [enableHover]='false'
 -->